*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.flex{
    display: flex;
    margin: 10em;
    margin-right: 30em;
}

#caroussel{
  width: 2500px;
  height: 500px;
  overflow: hidden;
  margin-right: 6em;
}

.diaporama{
  display: flex;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: lighter;
}

p{
    margin-bottom: 3em;
    text-align: justify;
}

.taille{
    padding: 1em;
    width: 10em;
    margin-bottom: 1em;
}
  .taille:hover{
    cursor: pointer;
  }

input{
    padding: 1em;
  }
  
  input#result{
    text-align: center;
    width: 6em;
  }
  input#plus{
    text-align: center;
    width: 3em;
    margin-right: 2em;
  }
  input#plus:hover{
    cursor:pointer;
  }
  input#moins{
    text-align: center;
    width: 3em;
  }
  input#moins:hover{
    cursor:pointer;
  }

.quantite{
    display: flex;
    justify-content: left;
    margin-right: 2em;
}

.precision{
    color: gray;
    font-size: 0.8em;
}

.acheter{
    display: flex;
    justify-content: left;
}
  .acheter input{
    width: 12.5em;
    border: none;
    border-radius: 0.2em;
  }

  .black{
    background-color: darkgray;
    color: black;
    margin-right: 2em;
  }

  .black:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .blue{
    background-color: dodgerblue;
    color: white;
  }

  .blue:hover{
    background-color:rgb(36, 36, 168);
    cursor: pointer;
  }

@media screen and (max-width: 1584px){

  .flex{
    margin-right: 20em;
  }
}

@media screen and (max-width: 1430px){

  .flex{
    margin-right: 2em;
    margin-left: 2em;
  }

  #caroussel{
    margin-right: 2em;
  }
}

@media screen and (max-width: 990px){

  .flex{
    margin-right: 10em;
    margin-left: 10em;
    flex-direction: column;
  }

  #caroussel{
    align-self: center;
    width: 500px;
    height: 500px;
    margin-bottom: 5em;
  }

  .quantite, .acheter{
    justify-content: center;
    margin: 0;
  }

  .precision{
    text-align: center;
  }
}